{% extends "base.html" %}
{% block title %}Любимые книги{% endblock %}
{% block content %}
<section class="u-align-left u-clearfix u-grey-5 u-section-1" id="carousel_8f79">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="center_div">
            <h2 class="u-text u-text-2"  data-animation-duration="1500" data-animation-delay="500"> 
                Любимые книги
            </h2>
        </div>
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500">
            <b> У нас вы можете найти и купить любимые книги именно в той редакции, которая
            дорога вашему сердцу! Также вы можете подобрать уникальный подарок для своих близких, друзей и коллег.</b>
        </p>
        <div class="center_div">
            <h3 class="u-text">
                Приключения капитана Врунгеля. А. C. Некрасов
            </h3>
        </div>
        <div class="container_slider" id="first">
            <div class="slider">
                <img class="active slider_img" src="{{ url_for('static', filename='images/vrg1.jpg') }}">
                <img class="slider_img" src="{{ url_for('static', filename='images/vrg2.jpg') }}">
                <img class="slider_img" src="{{ url_for('static', filename='images/vrg3.jpg') }}">
            </div>
            <nav class="slider-nav">
                <ul>
                    <li class="arrow">
                        <button class="previous">
                            <span>
                                <i class="ion-arrow-left-c"></i>
                            </span>
                        </button>
                    </li>
                    <li class="arrow">
                        <button class="next">
                            <span>
                                <i class="ion-arrow-right-c"></i>
                            </span>
                        </button>
                    </li>
                </ul>
            </nav>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
            <script>
                create_slider("#first");
            </script>
        </div>
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500"> 
            Юмористическая повесть о невероятных приключениях капитана Христофора
            Бонифатьевича Врунгеля, его старшего помощника Лома и матроса Фукса, отправившихся в кругосветное
            путешествие на двухместной яхте «Беда», впервые была напечатана в 1937 в журнале «Пионер» и с тех пор
            постоянно переиздаётся. Она переведена на многие языки, по ней снят многосерийный мультипликационный фильм,
            полюбившийся зрителям. Вот уже 85 лет от веселых Врунгелевских небылиц не могут оторваться ни взрослые, ни
            дети.
        </p>
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500"> 
            Прежде чем стать писателем, Андрей Некрасов сменил много профессий, сам был моряком и путешественником,
            побывал во многих уголках Земли. Он записывал рассказы и байки, которые рассказывали его товарищи. В 1934
            году писатель Борис Житков посоветовал ему написать книгу.
            Предлагаем Вам издание 1979 года в отличном состоянии с классическими иллюстрациями К. Ротова.
        </p>
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500"> 
            <i>Издательство "Экономика", 1979</i>
        </p>
        <!-- partial -->
        <div class="center_div">
            <h3 class="u-text">
                В стране невыученных уроков. Л. Б. Гераскина
            </h3>
        </div>
        <div class="container_slider" id="sec">
            <div class="slider">
                <img class="active slider_img" src="{{ url_for('static', filename='images/kalev1.jpg') }}">
                <img class="slider_img" src="{{ url_for('static', filename='images/kalev2.jpg') }}">
                <img class="slider_img" src="{{ url_for('static', filename='images/kalev3.jpg') }}">
            </div>
            <nav class="slider-nav">
                <ul>
                    <li class="arrow">
                        <button class="previous">
                            <span>
                                <i class="ion-arrow-left-c"></i>
                            </span>
                        </button>
                    </li>
                    <li class="arrow">
                        <button class="next">
                            <span>
                                <i class="ion-arrow-right-c"></i>
                            </span>
                        </button>
                    </li>
                </ul>
            </nav>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
            <script>
                create_slider("#sec");
            </script>
        </div>        
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500">
            Лия Гераскина начала писать ещё в детстве - даже выпускное школьное сочинение
            написала в стихах. Но то, что литература - её призвание, она поняла не сразу: работала библиотекарем на
            фабрике игрушек, преподавала в школе для взрослых. Только после Великой Отечественной войны она начала
            писать пьесы, сценарии по мотивам сказок, повести. За свою долгую жизнь (а Лия Гераскина дожила до 99 лет)
            она создала множество замечательных произведений, главное из которых - «В стране невыученных уроков» уже
            более 55 лет является одним из самых читаемых среди школьников и детей дошкольного возраста.
        </p>
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500">
            История о лентяе и двоечнике Вите Перестукине знакома многим из нас. Главный герой оказывается вовлечен в
            невероятную авантюру, которая сложилась из его ошибок и неправильных ответов. Приключения, пережитые Витей
            вместе с его котом Кузей в волшебной стране, которую вы не найдете ни в одном географическом атласе – стране
            невыченных уроков, помогут осознать потребность в образовании, важность трудолюбия и ответственности за свои
            поступки. Книга через юмор и сказку дает понять, что уроки учить не так уж и трудно, а полученные знания
            пригодятся на практике. 
        </p>
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500"> 
            <i>Издательство "Советская Россия", 1968</i>
        </p>
        <div class="center_div">
            <h3 class="u-text">
                Калевала. Л. А. Иосифовна
            </h3>  
        </div>
        <div class="container_slider" id="third">
            <div class="slider">
                <img class="active slider_img" src="{{ url_for('static', filename='images/less1.jpg') }}">
                <img class="slider_img" src="{{ url_for('static', filename='images/less2.jpg') }}">
                <img class="slider_img" src="{{ url_for('static', filename='images/less3.jpg') }}">
            </div>
            <nav class="slider-nav">
                <ul>
                    <li class="arrow">
                        <button class="previous">
                            <span>
                                <i class="ion-arrow-left-c"></i>
                            </span>
                        </button>
                    </li>
                    <li class="arrow">
                        <button class="next">
                            <span>
                                <i class="ion-arrow-right-c"></i>
                            </span>
                        </button>
                    </li>
                </ul>
            </nav>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
            <script>
                create_slider("#third");
            </script>
        </div>        
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500"> 
            «Калевала» - это сборник карело-финских народных сказаний и преданий,
            составленный лингвистом Элиасом Лённротом в 1835 году и стоящий в одном ряду с «Одиссеей», «Старшей Эддой»
            или «Рамаяной». В состав «Калевалы» входит 50 песен – рун.
        </p>
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500"> 
            Страна «Калевала» - это место жительства Калева, родоначальника главных героев эпоса - богатырей
            Вяйнямёйнена, Ильмаринена и Лемминкяйнена. В рунах поется о создании Мира, приключениях героев и о волшебной
            мельнице Сампо, дающей богатство и счастье, поётся в рунах.
        </p>
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500"> 
            Впервые адаптированный пересказ карело-финского эпоса появился в нашей стране в 1953 году. Александра
            Иосифовна Любарская перерабатывала и дополняла начальные версии перевода на протяжении нескольких
            десятилетий, а ее коллега художник Николай Кочергин писал иллюстрации, стараясь полноценно передать образы
            героев и окружающую их среду.
        </p>
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500"> 
            Книгу рекомендуем к прочтению всем, независимо от возраста. Особый интерес представляют мифотвоческие
            мотивы, сходства со сказками других народов, в том числе с русскими былинами, а также описания жизни и быта.
        </p>
        <p class="u-text u-text-3"  data-animation-duration="1500" data-animation-delay="500"> 
            <i>Издательство "Карелия", 1981</i>
        </p>
        <p class="u-text u-text-3"  data-animation-duration="1500"
            data-animation-delay="500"> Более подробная информация представлена в соцсетях: озон, телеграм, инстаграм
        </p>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <div class="span_img_center u-icon u-file-icon">
                            <img style="height: 100%; 
                    width: 100%; 
                    height: 59px;
                    width: 59px;" src="{{ url_for('static', filename='images/phone.svg') }}" alt="">
                        </div>
                        <p class="u-align-center u-text u-text-5">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
                                href="tel:+7 (989) 334-17-97">+7&nbsp;(989)&nbsp;334-17-97</a>
                        </p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <div class="span_img_center u-icon u-file-icon">
                            <img style="height: 100%; 
                    width: 100%; 
                    height: 59px;
                    width: 59px;" src="{{ url_for('static', filename='images/mail.svg') }}" alt="">
                        </div>
                        <p class="u-align-center u-text u-text-7">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2"
                                href="mailto:tomikbooks@yandex.ru">tomikbooks@yandex.ru</a>
                        </p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <div class="span_img_center u-icon u-file-icon">
                            <img style="height: 100%; 
                    width: 100%; 
                    height: 59px;
                    width: 59px;" src="{{ url_for('static', filename='images/tg.svg') }}" alt="">
                        </div>
                        <p class="u-align-center u-text u-text-9">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3"
                                href="https://vk.com/tomikbooks"> https://t.me/tomikbooks</a>
                        </p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <div class="span_img_center u-icon u-file-icon">
                            <img style="height: 100%; 
                    width: 100%; 
                    height: 59px;
                    width: 59px;" src="{{ url_for('static', filename='images/vk.svg') }}" alt="">
                        </div>
                        <p class="u-align-center u-text u-text-11">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4"
                                href="https://vk.com/tomikbooks">https://vk.com/tomikbooks</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}