{% extends "base.html" %}
{% block content %}
<section class="u-align-left u-clearfix u-grey-5 u-section-1" id="carousel_8f79">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h4 class="u-text u-text-1"  data-animation-duration="1500"> Любимые книги
        детства</h4>
      <h2 class="u-text u-text-2"  data-animation-duration="1500"
        data-animation-delay="500"> Друзья!</h2>
      <p class="u-text u-text-3"  data-animation-duration="1500"
        data-animation-delay="500"> ТОМИК приветствует вас и приглашает в увлекательный мир детских книг, в мир
        воспоминаний и радости, где вы можете легко оказаться, как только откроете для себя любимую книгу. </p>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <div class="span_img_center u-icon u-file-icon">
                <img style="height: 100%; 
                width: 100%; 
                height: 59px;
                width: 59px;" src="{{ url_for('static', filename='images/phone.svg') }}" alt="">
              </div>
              <p class="u-align-center u-text u-text-5">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
                  href="tel:+7 (989) 334-17-97">+7&nbsp;(989)&nbsp;334-17-97</a>
              </p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <div class="span_img_center u-icon u-file-icon">
                <img style="height: 100%; 
                width: 100%; 
                height: 59px;
                width: 59px;" src="{{ url_for('static', filename='images/mail.svg') }}" alt="">
              </div>
              <p class="u-align-center u-text u-text-7">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2"
                  href="mailto:tomikbooks@yandex.ru">tomikbooks@yandex.ru</a>
              </p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <div class="span_img_center u-icon u-file-icon">
                <img style="height: 100%; 
                width: 100%; 
                height: 59px;
                width: 59px;" src="{{ url_for('static', filename='images/tg.svg') }}" alt="">
              </div>
              <p class="u-align-center u-text u-text-9">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3"
                  href="https://t.me/tomikbooks"> https://t.me/tomikbooks</a>
              </p>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <div class="span_img_center u-icon u-file-icon">
                <img style="height: 100%; 
                width: 100%; 
                height: 59px;
                width: 59px;" src="{{ url_for('static', filename='images/vk.svg') }}" alt="">
              </div>
              <p class="u-align-center u-text u-text-11">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4"
                  href="https://vk.com/tomikbooks">https://vk.com/tomikbooks</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-expanded-width u-list u-list-2">
        <div class="u-repeater u-repeater-2">
          <div
            style="border-bottom-color: #f57c3f;"
            class="u-align-left u-border-10 u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-base u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-5"
             data-animation-duration="1500" data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-valign-top-xl u-container-layout-5"><span
                class="u-custom-item u-file-icon u-icon u-icon-1" 
                data-animation-duration="1500" data-animation-delay="750"><img src="{{ url_for('static', filename='images/1245114.png') }}" alt=""></span>
              <h4 class="u-text u-text-12"> Любимые книги<br>
                <br>
              </h4>
              <a href="/favorite_books"
                class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-custom-item u-none u-radius-0 u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-5">Подробнее</a>
            </div>
          </div>
          <div
            style="border-bottom-color: #f57c3f;"
            class="u-align-left u-border-10 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-base u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-6"
             data-animation-duration="1500" data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-valign-top-xl u-container-layout-6"><span
                class="u-custom-item u-file-icon u-icon u-icon-2" 
                data-animation-duration="1500" data-animation-delay="750"><img src="{{ url_for('static', filename='images/loupe1.png') }}" alt=""></span>
              <h4 class="u-text u-text-13"> Поиск любимой книги</h4>
              <a href="/search_favorite_book"
                class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-custom-item u-none u-radius-0 u-text-active-palette-5-base u-text-body-color u-text-hover-palette-5-base u-top-left-radius-0 u-top-right-radius-0 u-btn-6">
                Подробнее</a>
            </div>
          </div>
          <div
            style="border-bottom-color: #f57c3f;"
            class="u-align-left u-border-10 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-7"
             data-animation-duration="1500" data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-valign-top-xl u-container-layout-7"><span
                class="u-custom-item u-file-icon u-icon u-icon-3" 
                data-animation-duration="1500" data-animation-delay="750"><img src="{{ url_for('static', filename='images/4277071.png') }}" alt=""></span>
              <h4 class="u-text u-text-14"> Реставрация любимой книги</h4>
              <a href="/restoration_favorite_book"
                class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-custom-item u-none u-radius-0 u-text-active-palette-1-base u-text-body-color u-text-hover-palette-1-base u-top-left-radius-0 u-top-right-radius-0 u-btn-7">
                Подробнее</a>
            </div>
          </div>
          <div
            style="border-bottom-color: #f57c3f;"
            class="u-align-left u-border-10 u-border-no-left u-border-no-right u-border-no-top u-border-palette-3-base u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-8"
             data-animation-duration="1500" data-animation-delay="250">
            <div class="u-container-layout u-similar-container u-valign-top-xl u-container-layout-8"><span
                class="u-custom-item u-file-icon u-icon u-icon-4" 
                data-animation-duration="1500" data-animation-delay="750"><img src="{{ url_for('static', filename='images/vecteezy_business-handshake-vector-icon_.svg') }}" alt=""></span>
              <h4 class="u-text u-text-15"> Приглашение к сотрудничеству</h4>
              <a href="/invitation_cooperation"
                class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-custom-item u-none u-radius-0 u-text-active-palette-3-base u-text-body-color u-text-hover-palette-3-base u-top-left-radius-0 u-top-right-radius-0 u-btn-8">
                Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}